.banner {
    display: flex;
    justify-content: center;
    padding-top: 240px;
    padding-bottom: 240px;
}

@media screen and (max-width:1024px) {
    .banner {
        padding-top: 200px;
        justify-content: center;
        padding-bottom: 200px;
    }
}

@media screen and (max-width:768px) {
    .banner__content {
        text-align: center;
    }

    .banner .banner__content h1::first-letter {
        font-size: 30vw !important;
        color: #000;
    }

}

.banner .banner__content h1 {
    font-weight: 800;
    color: #919191;
    font-size: 14vw;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1rems;

}

.banner .banner__content h1::first-letter {
    font-size: 14vw;
    color: #000;
}




.banner__content h1 span {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    color: #111111;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 3px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
    margin-left: -50px;
}

@media screen and (max-width:768px) {
    .subheading {
        margin-left: unset;
        padding-bottom: 16px;
        font-size: 20px;
    }

    .subheading::after {
        bottom: 10px !important;
        width: 60px !important;
        height: 3px !important;
    }

    .banner .banner__content h1 {
        text-align: center;
        font-size: 30vw;
        margin-bottom: 20px;
    }

    .banner__content h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.subheading::after {
    position: absolute;
    bottom: -2px;
    right: 0;
    content: '';
    width: 45px;
    height: 1px;
    background: #111111;
}

.banner__content h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #919191;
    max-width: 660px;
}






/* 

.banner {
    max-width: 1320px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 750px;
    background-attachment: fixed;
}


.banner__content {
    max-width: 880px;
    padding-right: 4rem;
    padding-left: 4rem;
}


.subheading {
    text-transform: uppercase;
    font-weight: 500;
    color: #111111;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 3px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
    margin-left: -70px;
}

.subheading::after {
    position: absolute;
    bottom: -2px;
    right: 0;
    content: '';
    width: 45px;
    height: 1px;
    background: #111111;
}

.banner__content h1 {
    font-weight: 800;
    color: #444444;
    font-size: 14vw;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1rems;
}

.banner__content h1 span {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.sub-heading {
    max-width: 660px;
}

.sub-heading h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #919191;
} */