.nodefull_content {}

.nodefull_content {
    max-width: 860px;
    margin: auto;
    padding: 0 1rem;
}

.nodefull_content h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

.nodefull_content h2 a {
    text-decoration: none;
    color: #000 !important;
}

.nodefull_content p {
    max-width: 856px;
    color: #999;
    margin: 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.heading_fullimage {
    max-width: 856px;
}

.heading_fullimage img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}


.comment_leave {
    margin-top: 4rem;
}

.comment_leave form {
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    padding: 24px;
}

/* 
.comment_leave form label {
    display: none;
} */

.comment_leave form textarea {
    width: 100%;
    padding: 10px;
}

.comment_leave form .form-text,
.form-email {
    padding: 10px;
    width: 97%;
}

.comment_leave form input[type="submit"] {
    border-color: unset;
    border-style: unset;
    background: rgb(244, 191, 44) !important;
    border: 1px solid rgb(244, 191, 44) !important;
    color: rgb(17, 17, 17) !important;
    padding: 16px 0px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 9%) 0px 24px 36px -11px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 160px;
    text-align: center;
}

#edit-preview {
    border-color: unset;
    border-style: unset;
    background: #e8f5e9 !important;
    border: 1px solid #e8f5e9 !important;
    color: #111111 !important;
    padding: 16px 24px;
    float: right;
}

.filled-comment {
    display: flex;
    gap: 30px;
    max-width: 860px;
    margin-bottom: 4rem;
}

.filled-comment__image {
    max-width: 50px;
    height: 50px;
}

.filled-comment__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.filled-comment .field__label {
    display: none;
}

.filled-comment__content h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}

.filled-comment__content .comment__submitted {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

.filled-comment__content p {
    font-size: 1rem;
}

.main-bar:nth-child(even) {
    margin-left: 3rem;
}

.filled-comment__content a {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    font-weight: 600;
    border-radius: 4px;
    background: #111111;
    text-decoration: none;
}


.comment-count {}

.comment-count h3 {
    font-size: 34px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

.blog-banner {
    height: 500px;
}

.blog-banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blog-banner__content h1 {
    font-weight: 600;
    color: rgb(68, 68, 68);
    font-size: 80px;
    line-height: 1.2;
}

/* .full {
    background-color: #fff;
    padding-top: 2rem;
} */

@media screen and (max-width: 768px) {
    .filled-comment {
        display: block;
        max-width: 370px;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
    }

    .filled-comment__image {
        margin: auto;
        margin-bottom: 20px;
    }

    .comment-count h3 {
        text-align: center;
    }


    .blog-banner__content h1 {
        text-align: center;
    }

    .comment_leave form {
        padding-left: 0;
        padding-right: 0;
    }

    .comment_leave form input {
        padding-right: 0 !important;
    }

    .main-bar:nth-child(even) {
        margin-left: unset;
    }

}

/* Breadcrumb CSS */


.hello_breadcrumb {
    text-align: center;
    width: 100%;
}

.hello_breadcrumb a {
    text-decoration: none;
    color: rgb(145, 145, 145);
    letter-spacing: 3px;
    position: relative;
    top: -323px;
    z-index: 90;
}

@media screen and (max-width: 576px) {
    .hello_breadcrumb a {
        top: -380px;
    }
}

.hello_breadcrumb a::after {
    content: "\f061";
    position: absolute;
    font-family: fontAwesome;
    margin-left: 5px;
    top: 6px;
    font-size: 12px;
}