.first-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.first-content__image {
    flex-basis: 40%;
    margin-top: -7px;
}


.first-content__image img {
    width: 100%;
    height: 734px;
    object-fit: cover;
}


.first-content__content {
    max-width: 495px;
    padding-top: 3rem;
}



.first-content__content h2 {
    text-decoration: underline;
    font-size: 90px;
    font-weight: 400;
}

.first-content__content a:hover {
    text-decoration-color: #f4bf2c !important;
}


.first-content__content a {
    color: rgb(68, 68, 68) !important;
    display: block;
    line-height: 1.1;
}

.first-content__content p {
    font-size: 16px;
    color: #999999;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}


.author__information {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
}

.views-row:nth-child(even) .first-content {
    flex-direction: row-reverse;
}

.learn_more .links {
    display: flex !important;
    gap: 50px;
    align-items: center;
}

.learn_more .links li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.learn_more .links li a {
    text-decoration: none;
}

.learn_more a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444444;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}

.learn_more a::after {
    content: "\f061";
    position: absolute;
    font-family: fontAwesome;
    color: #444444;
    padding-left: 7px;
}



@media screen and (max-width:1024px) {
    .first-content {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 1px solid #444444;
        padding-bottom: 1rem;
    }

    .views-row:nth-child(even) .first-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-content__content {
        max-width: unset;
    }
}

.comment__teaser {
    font-size: 12px;
    position: relative;
    padding-left: 16px;
    color: #f4bf2c;
    margin-top: -3px;
    padding-left: 20px;
    text-transform: uppercase;
}

.comment__teaser::before {
    content: "\f075";
    position: absolute;
    font-family: fontAwesome;
    color: #f4bf2c;
    left: 0px;
    top: 3px;
}