* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


body {
    background: #f8f8f8;
}

.main-navigation {
    height: 55px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-logo {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.nav-logo a {
    color: #111111 !important;
    font-weight: 800;
    letter-spacing: 3px;
    text-decoration: none;
}

.nav-container {
    max-width: 1320px;
    margin: 0 auto;
}

.nav {
    float: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    float: left;
    position: relative;
}

.nav ul li:first-child {
    display: none;
}

.nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    text-decoration: none;
    background: transparent;
    color: #aaaaaa !important;
    font-weight: 500;
    font-size: 14px;
}

.nav ul li a:not(:only-child):after,
.nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

.nav ul li ul li {
    min-width: 190px;
}

.nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 992px) {
    .nav-mobile {
        display: block;
    }

    .nav-list {
        background-color: #262626;
    }

    .nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    .nav ul {
        display: none;
    }

    .nav ul li {
        float: none;
        border-bottom: 1px solid #444444;
    }

    .nav ul li a {
        padding: 20px;
        line-height: 20px;
        background: #262626;
        color: #fff !important;
    }

    .nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }

    @media screen and (min-width:992px) {
        .nav-list {
            display: block !important;
        }
    }

    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    #navbar-toggle span,
    #navbar-toggle span:before,
    #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #111111;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #navbar-toggle span:before {
        top: -10px;
    }

    #navbar-toggle span:after {
        bottom: -10px;
    }

    #navbar-toggle.active span {
        background-color: transparent;
    }

    #navbar-toggle.active span:before,
    #navbar-toggle.active span:after {
        top: 0;
    }

    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }

    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}

/* PAGINATION CSS */

.full_pager {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.full_pager li {
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.full_pager li a {
    text-decoration: none;
}


.full_pager .is-active {
    background: #111111;
    color: #fff !important;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: trasparent;
}

.full_pager .is-active a {
    color: #fff !important;
}


/* AUTHOR CSS  */

.author__information span {
    text-decoration: none;
    font-size: 12px;
    display: block;
    position: relative;
}

.author__information span::before {
    content: "\f007";
    position: absolute;
    font-family: fontAwesome;
    font-size: 12px;
    left: -14px;
    color: #f4bf2c;
    padding-right: 10px;
}

.author__information time {
    font-size: 12px;
    position: relative;
    padding-left: 16px;
    color: #444444;
    margin-top: -3px;
}

.author__information time:last-child::before {
    content: "\f133";
    position: absolute;
    font-family: fontAwesome;
    font-size: 12px;
    left: -14px;
    color: #f4bf2c;
    padding-right: 10px;
    padding-left: 14px;
    top: 0;
}